.profile-section{
    background-color: #f9fafb;
}
.div-right{
    margin-top: 30px;
    width: 300px;
    height: 10px;
    font-size: 18px;
    background-color: #f9fafb;
}
.information{    
    background-color: #f4f5f6;
    padding-right: 20px;
    padding-top: 10px;
}
.information-username{
    
}
.information-phone{
    margin-right: 120px;
}
.div-bar{
    background-color: #fff;
}
.div-left{
    text-align: center;
    width: 1250px;
    margin: 30px;
}
.div-center{
    padding: 10px 290px;
    background-color: #fff;
    border-radius: 10px;
}
.left-a{
    background-color: #3e8bff;
    width: 200px;
    height: 50px;
    padding: 8px;
    border-radius: 15px;
    position: relative;
    margin-bottom: 50px;
}
.inf-a{
    color: #fff;
    text-decoration: none;
}
.div-input{
    border: 1px solid #afafaf;
    margin: 0px;
    height: 60px;
    padding-right: 15px;
    box-sizing: border-box;
}
.a-style{
    width: 950px;
    background-color: #3e8bff;
    text-decoration: none;
    color: #fff;
}
.button-right{
    width: 150px;
    height: 40px;
    color: #fff;
    background-color: #004fc5;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}
.button-left{
    width: 150px;
    height: 40px;
    color: #3e8bff;
    background-color: #fff;
    /* border:1px solid #3e8bff; */
    border-radius: 5px;
}
.button-left:hover{
    background-color: #dbeaff22;
    color: #004fc5ad;
}
.all-input{
    border: 1px solid  rgb(138, 138, 138);
    border-radius: 5px;
    margin-bottom: 50px;
    padding: 0PX;
}
.input{
    margin: 0px;
    /* border: 1px solid #a3a3a3; */
    padding: 0;
}
.inpot{
    height: 20px;
    width: 200px;
    border: none;
    margin-top: 5px;
    color: #3e8bff;
    font-size: 10px;
}
.buttons{
    margin-bottom: 20px;
}